<div class="energy-wells tools-box">
  <div class="btn-group">
    <button type="button" 
      class="btn btn-info-secondary"
      [disabled]="!energy.has_energy"
      (click)="energy.toggle()"
      title='toggle energy wells visibility'>
        <span>
          <i *ngIf='energy.visible' class="material-icons">visibility</i>
          <i *ngIf='!energy.visible' class="material-icons">visibility_off</i>
        </span>
    </button>
    <div class='btn-group'
      ngbDropdown
      role="group"
      autoClose="outside"
      #dropdown="ngbDropdown">
        <button class="btn btn-info-secondary" ngbDropdownToggle title="select energy-gradient dataset">
          {{name}}
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div *ngFor="let ds of datasets" class="dropdown-item" (click)="gradient.select(ds)">
            {{ds}}
          </div>
          <button *ngIf="!energy.has_energy" 
            class="btn btn-info dropdown-item"
            [ngbPopover]="computePopover"
            placement="right"
            #computeMenu="ngbPopover"
            popoverTitle="compute energy from:" >
              <span>Compute Energy</span>
              
          </button>
        </div>
    </div>
    <!-- <button type="button"
    class="btn btn-info"
    [disabled]="!energy.has_energy"
    [ngbPopover]="settingsPopover"
    placement="right"
    #settingsMenu="ngbPopover"
    title='settings'
    popoverTitle="Energy Wells Settings:">
      <span><i class="material-icons icon">settings</i></span>
    </button> -->
  </div>
</div>

<!-- <ng-template #settingsPopover>
    <app-energy-settings [energy]="energy" (done)="close('settings')"></app-energy-settings>
</ng-template> -->

<ng-template #computePopover>
  <app-compute-popover [workspace]="energy.workspace" (select)="computeEnergy($event)"></app-compute-popover>
</ng-template>