.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

mat-expansion-panel-header.header:focus,
mat-expansion-panel-header.header {
    background-color: rgb(230, 230, 230) !important;
    font-size: 1rem;
}

mat-expansion-panel-header.header:hover {
    background-color: rgb(200, 200, 200) !important;
}