<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': !sensor.hidden, 'disabled': sensor.hidden}">
            {{sensor.name}}
        </a>
    </li>
    <li class="nav-item" ngbDropdown>
        <a class="nav-link btn-secondary text-white select-sensor" 
            autoClose="outside" ngbDropdownToggle>...</a>
        <div class="dropdown-menu" ngbDropdownMenu>
            <div *ngFor="let s of sensors" class="dropdown-item" (click)="changeSensor(s)">
                {{s.name}}
            </div>
        </div>
    </li>
</ul>
