<h1>Workspace: {{ws}}</h1>

<mat-accordion class="dataview" displayMode="flat">

    <div *ngIf="workspace.hasVideo" class="card border-secondary video-card">
        <app-video 
        [workspace]="workspace"
        [dataInfo]="info">
        </app-video>
    </div>

    <mat-expansion-panel class="card border-primary sensor-bars" hideToggle expanded>

        <mat-expansion-panel-header class="header" expandedHeight="48px">
            <mat-panel-title>Data</mat-panel-title>
            <mat-panel-description>
                <div>
                    <div class="detail">Dataset: <span class="value">{{ds}}</span> </div>
                </div>
                <mat-icon svgIcon="pulse"></mat-icon>
            </mat-panel-description>

        </mat-expansion-panel-header>

        <div *ngFor="let sensor of sensors">
            <div class='card-header d-flex toolbar'>

                <toolbox-sensors
                    [sensor]="sensor"
                    [channels]="channels">
                </toolbox-sensors>

                <toolbox-modes 
                    [sensor]="sensor" 
                    [tracker]="mode">
                </toolbox-modes>

                <toolbox-labelstreams 
                    [sensor]="sensor"
                    [workspace]="workspace"
                    [(labelstreams)]="labelStreams" 
                    (remove)="removeStream($event)">
                </toolbox-labelstreams>

                <toolbox-types 
                    [sensor]="sensor" 
                    [colorer]="colorer" 
                    [(labelstream)]="labelStreams[sensor.labelstream]">
                </toolbox-types>

                <toolbox-energy
                    [gradient]="gradient"
                    [energy]="energy">
                </toolbox-energy>

                <div class='right'>
                    <i *ngIf="!sensor.hidden" (click)="hide(sensor)" class="material-icons icon" title='hide' aria-label="hide">remove</i>
                    <i *ngIf="!sensor.hidden" (click)="remove(sensor)" class="material-icons icon" title='close' aria-label="hide">close</i>
                    <i *ngIf="sensor.hidden" (click)="show(sensor)" class="material-icons icon" title='show' aria-label="show">add</i>
                </div>
            </div>
            <app-databar  
                *ngIf="!sensor.hidden"
                [data_info]="info"
                [dataset]="dataset"
                [energy]="energy"
                [gradient]="gradient"
                [sensor]="sensor"
                [mode]="mode"
                [transform]="zoom_transform"
                [colorer]="colorer"
                [video]="vt"
                [(labelstream)]="labelStreams[sensor.labelstream]"
                (zoom)="onZoom($event)">
            </app-databar>
        </div>

        <mat-action-row class="card-footer">
            <div class="right">
                <button class="btn btn-info" (click)="newSensor()" title="add sensor">
                    <i class="material-icons icon">add</i>
                </button>
            </div>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>