<div class="card">
    <div *ngFor="let sensor of sensors">
        <app-databar  *ngIf="!sensor.hide"
        [_height]="databarHeight"
        [enable_downsampling]="downsample"
        [dataset]="dataset" 
        [sensor]="sensor"
        [transform]="zoom_transform"
        (updateSensor)="onUpdateSensor($event)"
        (zoom)="onZoom($event)">
        </app-databar>
        <div *ngIf="sensor.hide" class='card-header d-flex justify-content-between align-items-center'>
            {{sensor.name}}
        </div>
    </div>
</div>