<div class="card">
    <div *ngFor="let sensor of sensors">
        <div class='card-header d-flex justify-content-between align-items-center'>
            <ul  class="nav nav-tabs card-header-tabs">
                <li *ngIf="!sensor.hide" class="nav-item"><a class="nav-link active">{{sensor.name}}</a></li>
                <li *ngIf="sensor.hide" class="nav-item"><a class="nav-link disabled">{{sensor.name}}</a></li>
            </ul>
            <i *ngIf="!sensor.hide" (click)="hide(sensor)" class="material-icons icon" aria-label="Close">close</i>
            <i *ngIf="sensor.hide" (click)="show(sensor)" class="material-icons icon" aria-label="Open">expand_more</i>
        </div>
        <app-databar  *ngIf="!sensor.hide"
        [_height]="databarHeight"
        [enable_downsampling]="downsample"
        [data_info]="data_info" 
        [sensor]="sensor"
        [transform]="zoom_transform"
        [labels]="labels"
        (zoom)="onZoom($event)">
        </app-databar>
    </div>
</div>