/*#region [Header] */
.card-header {
    padding: 0px;
}

div.card-header > .tools-box {
    float: left;
    display: inline-flex;
    padding-left: 20px;
}

div.card-header > div.right {
    float: right;
    display: -webkit-inline-box;
    margin-left: auto;
    margin-right: 0;
    align-content: flex-end;
    align-items: flex-end;
}
/*#endregion */

/*#region [Icons] */
button > i.material-icons,
span > i.material-icons {
    vertical-align:middle;
    padding-right: 5px;
}

.icon {
    cursor: pointer;
}
/*#endregion */

/*#region [Select Sensor] */
li.nav-item.dropdown > a.select-sensor {
    cursor: pointer;
}

li.nav-item.dropdown.disabled > a.select-sensor,
li.nav-item.dropdown.disabled {
    cursor: default;
    color: #6c757d;
}

li.nav-item.show.dropdown > a.select-sensor {
    background-color: #6c757d;  /* bootstrap secondary gray */
}

a.select-sensor.dropdown-toggle::after {
    margin-left: 0;
    border-top: 0;
    content: none;
}
/*#endregion */

/*#region [Generic Dropdowns] */
button.dropdown-item,
div.dropdown-item {
    cursor: pointer;
}

div.dropdown-item.dropdown-button {
    padding: 1px 1px;
}
/*#endregion */

/*#region [Label Streams] */
div.dropdown-item.dropdown-button > button.add-stream {
    border-style: dotted; 
    width: 100%;
    padding: 0;
}

div.dropdown-item.dropdown-button > button.add-stream > i.material-icons {
    vertical-align: middle;
}
/*#endregion */

/*#region [Label Types] */
div.btn-group > label.btn-lbl {
    border: gray;
    border-width: 1px;
}

div.btn-group > label.btn-lbl.active {
    border: black;
    border-width: 2px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
/*#endregion */