.icon {
    cursor: pointer;
}

.card-header {
    padding: 0px;
}

div.card-header > div.label-selector {
    float: left;
    display: inline-flex;
    padding-left: 20px;
}

button > i.material-icons,
span > i.material-icons {
    vertical-align:middle;
    padding-right: 5px;
}

a.select-sensor.dropdown-toggle::after {
    margin-left: 0;
    border-top: 0;
    content: none;
}

li.nav-item.show.dropdown > a.select-sensor {
    background-color: #0062cc;  /* bootstrap primary blue */
}

div.dropdown-item.dropdown-button {
    padding: 1px 1px;
}

div.dropdown-item.dropdown-button > button.add-stream {
    border-style: dotted; 
    width: 100%;
    padding: 0;
}

div.dropdown-item.dropdown-button > button.add-stream > i.material-icons {
    vertical-align: middle;
}

