<mat-card class="workspace-card card">
    <mat-card-header>
        <mat-card-title>
            <span class='field'>Workspace:</span>
            {{workspace.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-body bg-light">
        <div class="row">

        </div>
        <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-6"></div>
                <div class="col"><span class='tiny-field'>flashes:</span></div>
                <div class="col"><span class='tiny-field'>format:</span></div>
              </div>
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <span class='field'>Dataset: </span>
                  <button mat-button 
                    class="selection flex-grow-1" 
                    [matMenuTriggerFor]="dsMenu">
                      {{selected.dataset.name}}
                  </button>
                  <mat-menu #dsMenu="matMenu" [class]='classes' [overlapTrigger]="true">
                      <button (click)="selectData(dataset)" mat-menu-item class="flex-grow-1" *ngFor="let dataset of datasets">
                          {{dataset.name}}
                      </button>
                  </mat-menu>
                </div>
                <div class="col">
                    <span class="badge badge-pill" [ngClass]="flashBadge"> {{flashcount}}</span>
                </div>
                <div class="col">
                  <span class="badge badge-pill" [ngClass]="formatBadge">{{selected.dataset.format}}</span>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="col">
              <div class="row">
                <div class="col-6"></div>
                <div class="col"><span class='tiny-field'>has labels:</span></div>
                <div class="col"><span class='tiny-field'>event types:</span></div>
              </div>
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <span class='field'>Label Scheme: </span>
                  <button mat-button 
                    class="selection flex-grow-1" 
                    [matMenuTriggerFor]="lsMenu">
                      {{selected.labelscheme.name}}
                  </button>
                  <mat-menu #lsMenu="matMenu">
                      <button (click)="selectLabels(scheme)" mat-menu-item *ngFor="let scheme of labelschemes">
                          {{scheme.name}}
                      </button>
                  </mat-menu>
                </div>
                <div class="col">
                  <span class="badge badge-pill" [ngClass]="hasLabelsBadge">{{selected.labelscheme.hasLabels}}</span>
                </div>
                <div class="col">
                    <span class="badge badge-pill" [ngClass]="typesBadge">{{typescount}}</span>
                  </div>
              </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button routerLink="/workspace/{{workspace.name}}/{{selected.dataset.name}}">
        <mat-icon svgIcon="open-in-new"></mat-icon>
        Open
      </button>
    </mat-card-actions>
</mat-card>
