<div class='card'>
    <div class='card-header d-flex justify-content-between align-items-center'>
        {{sensor.name}}
        <button type="button" (click)="onClose($event)" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <svg width="100%" class="databar" (click)="clicked($event)">
        <g class="transform">
            <defs><clipPath id="clip">
                <rect class='clip-rect'></rect>
            </clipPath></defs>
            <g class="signals"></g>
            <g class="axes"></g>
            <rect class="zoom"></rect>
        </g>
    </svg>
</div>
