/*#region [Toolbox] */
:host {
    display: contents;
}

:host > .tools-box {
    float: left;
    display: inline-flex;
    padding-left: 20px;
}
/*#endregion */

/*#region [Label Types] */
div.btn-group > label.btn-lbl {
    border: gray;
    border-width: 1px;
    width: 30px;
}

div.btn-group > label.btn-lbl.active {
    border: black;
    border-width: 2px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
/*#endregion */

/*#region [Add Label Type Button] */
label.add-type {
    width: 30px;
    padding-left: 1px;
    border-style: dashed;
}

label.add-type > i.icon {
    vertical-align: middle;
}
/*#endregion */