:host {
    display: contents;
}

:host > .tools-box {
    float: left;
    display: inline-flex;
    padding-left: 20px;
}

div.btn-group > label.btn-lbl {
    border: gray;
    border-width: 1px;
}

div.btn-group > label.btn-lbl.active {
    border: black;
    border-width: 2px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}