<ng-template #addPopover>
    <form>
        <div class="form-group row">
            <label for="event-type" class="col-form-label">Name:</label>
            <div class="col">
                <input type="text" 
                    class="form-control" 
                    #textbox 
                    id="event-type"
                    (keyup.enter)="add_type(textbox.value)"
                    placeholder="event name">
            </div>
        </div>
        <div class="form-group row">
            <div class='col'>
                <button class="btn btn-success btn-block"
                    type="button"
                    [disabled]="textbox.value.length === 0"
                    (click)="add_type(textbox.value)">
                    Create
                </button>
            </div>
        </div>
    </form>
</ng-template>

<div class="label-types tools-box">
    <div class="btn-group btn-group-toggle" 
        ngbRadioGroup 
        name="radiolbl" 
        [(ngModel)]="lbl"
        (ngModelChange)="changed($event)">
        <label *ngFor="let t of event_types" 
            ngbButtonLabel 
            [ngStyle]="style_color(t)" 
            class="btn btn-lbl" 
            [title]="event_name(t)">
            <input ngbButton type="radio" [value]=t [disabled]="sensor.hidden">
        </label>
        <label class='btn btn-outline-secondary add-type' 
            [ngbPopover]="addPopover" 
            popoverTitle="New Event Type:"
            placement="right"
            #popover="ngbPopover"
            title="new event type">
            <i *ngIf="!popover.isOpen()" class="material-icons icon">add</i>
            <i *ngIf="popover.isOpen()" class="material-icons icon">remove</i>
        </label>
    </div>
</div>