<ng-template #addPopover>
    <app-new-labelstream [streams]="streams" (submit)="add_stream($event)">
    </app-new-labelstream>
</ng-template>

<div class='label-streams tools-box'>
    <div class="btn-group">
        <button type="button" 
        (click)="toggleLabels()" 
        class="btn btn-outline-secondary"
        [disabled]="sensor.hidden" 
        title="toggle labels on/off">
            <span>
                <i *ngIf="sensor.show_labels" class="material-icons">label</i>
                <i *ngIf="!sensor.show_labels" class="material-icons">label_outline</i>
            </span>
        </button>
        <div class="btn-group" 
          ngbDropdown 
          role="group"
          autoClose="outside"
          #dropdown="ngbDropdown"
          aria-label="list of label streams">
            <button class="btn btn-outline-secondary" 
              title="current label stream" 
              [ngClass]="{'disabled': sensor.hidden}" 
              ngbDropdownToggle>
                {{sensor.labelstream}}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div *ngFor="let stream of streams" 
                  (click)="selectStream(stream)" 
                  class="dropdown-item d-flex justify-content-between">
                    {{stream}}
                    <div class='btn-box'>
                        <button *ngIf="sensor.labelstream == stream"
                        [disabled]="!can_save(stream)"
                        (click)="save($event)"
                        class='btn btn-info btn-icon'>
                            <i class="material-icons icon">save</i>
                        </button>
                        <button *ngIf="sensor.labelstream != stream"
                        [disabled]="true"
                        (click)="merge(stream, $event)"
                        class='btn btn-secondary btn-icon'>
                            <i class="material-icons icon">merge_type</i>
                        </button>
                        <button class='btn btn-danger btn-icon'
                        [disabled]="!can_remove(stream)"
                        (click)="remove_stream(stream, $event)">
                            <i class="material-icons icon">delete</i>
                        </button>
                    </div>
                </div>
                <div class="dropdown-item dropdown-button">
                    <button type="button" 
                      class="btn btn-outline-secondary add-stream" 
                      title='create new label scheme'
                      [ngbPopover]="addPopover"
                      #popover="ngbPopover"
                      placement="right" >
                        <i class="material-icons icon">{{icon}}</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>