<div class='label-streams tools-box'>
    <div class="btn-group">
        <button type="button" 
        (click)="toggleLabels()" 
        class="btn btn-outline-secondary"
        [disabled]="sensor.hidden" 
        title="toggle labels on/off">
            <span>
                <i *ngIf="sensor.show_labels" class="material-icons">label</i>
                <i *ngIf="!sensor.show_labels" class="material-icons">label_outline</i>
            </span>
        </button>
        <div class="btn-group" 
          ngbDropdown role="group"
          autoClose="outside"
          aria-label="list of label streams">
            <button class="btn btn-outline-secondary" 
              title="current label stream" 
              [ngClass]="{'disabled': sensor.hidden}" 
              ngbDropdownToggle>
                {{sensor.labelstream}}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div *ngFor="let stream of streams" 
                  (click)="selectStream(stream)" 
                  class="dropdown-item">
                    {{stream}}
                </div>
                <div class="dropdown-item dropdown-button">
                    <button type="button" 
                      class="btn btn-outline-success add-stream" 
                      title='new label stream'
                      (click)="newStream()"
                      placement="right" >
                        <i class="material-icons icon">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>