/* You can add global styles to this file, and also import other style files */
rect.label {
    opacity: 0.5;
    stroke-width: 1px;
    cursor: pointer;
}

rect.label:hover {
    opacity: 0.6;
    stroke-width: 2px;
    stroke: #ffffd7;
}

rect.label.selected {
    opacity: 0.75;
    stroke: slateblue;
    cursor: move;
}

rect.drag-handle {
    opacity: 0.65;
    fill: slategray;
    cursor: col-resize;
}

rect.drag-handle.warn {
    fill: orange;
}

rect.zoom {
    fill: none;
    pointer-events: all;
}

rect.zoom.selection-mode {
    cursor: -webkit-grab;
}

rect.zoom.click-mode {
    cursor: pointer;
}

g.axes > g.x-axis {
    cursor: -webkit-grab;
}

g.cursor > svg.cursor {
    pointer-events: none;
    fill: darkslategrey;
}

svg.databar.custom-cursor * {
    cursor: none;
}