/* You can add global styles to this file, and also import other style files */
rect.label {
    opacity: 0.5;
}

rect.label.updated {
    opacity: 0.25;
    stroke-width: 5px;
    stroke: black;
}

rect.label.selected {
    opacity: 0.75;
    stroke-width: 2px;
    stroke: slateblue;
}