/* You can add global styles to this file, and also import other style files */
rect.label {
    opacity: 0.5;
    stroke-width: 1px;
    cursor: pointer;
}

rect.label.updated {
    opacity: 0.55;
    stroke: gray;
}

rect.label.selected {
    opacity: 0.75;
    stroke: slateblue;
    cursor: move;
}

rect.drag-handle {
    opacity: 0.65;
    fill: slategray;
    cursor: col-resize;
}