/* You can add global styles to this file, and also import other style files */
/*#region [Material Icons] */
button.mat-menu-item {
    line-height: 24px !important;
  }
  a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
  }
  .mat-icon svg {
    height: 24px;
    width: 24px;
  }
/*#endregion */

/*#region [Labels] */
rect.label {
    opacity: 0.5;
    stroke-width: 1px;
    cursor: pointer;
}

rect.label:hover {
    opacity: 0.6;
    stroke-width: 0;
    filter: url(#shadow);
}

rect.label.selected {
    opacity: 0.75;
    stroke: slateblue;
    cursor: move;
}

rect.drag-handle {
    opacity: 0.65;
    fill: slategray;
    cursor: col-resize;
}

rect.drag-handle.warn {
    fill: orange;
}
/*#endregion */

/*#region [Signals] */
.line {
    stroke-width: 2px;
    stroke-opacity: 0.8;
}

.line--fade {
    stroke-width: 1.8px;
    stroke-opacity: 0.5;
    stroke-dasharray: 1,3;
}

.line--hover {
    stroke-width: 3px;
    stroke-opacity: 1.0;
}
/*#endregion */

/*#region [Energy Wells] */
path.energy {
    opacity: 0.3;
}

path.energy:hover {
    opacity: 0.5;
}
/*#endregion */

/*#region [Tooltip] */
div.tooltip {
    position: absolute;
    text-align: center;
    pointer-events: none;
    line-height: 1;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 4px;
  }
    
/* Creates a small triangle extender for the tooltip */
div.tooltip:after {
    box-sizing: border-box;
    font-size: 11px;
    top: 98%;
    left: 50%;
    line-height: 1;
    margin-top: -3%;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
/*#endregion */

/*#region [SVG Background] */
rect.zoom {
    fill: none;
    pointer-events: all;
}
/*#endregion */

/*#region [Cursors] */
rect.zoom.selection-mode {
    cursor: -webkit-grab;
}

rect.zoom.click-mode {
    cursor: pointer;
}

g.axes > g.x-axis {
    cursor: -webkit-grab;
}

g.cursor > svg.cursor {
    pointer-events: none;
    fill: darkslategrey;
    stroke: rgb(29, 48, 48);
}

svg.databar.custom-cursor {
    pointer-events: all;
}

svg.databar.custom-cursor * {
    cursor: none;
}
/*#endregion */

/*#region [Popover] */
.popover {
    width: 300px;
}

.form-group.row > label.col-form-label {
    padding-left: 10px;
    font-weight: bold;
}
/*#endregion */

/*#region [Icons] */
i.icon {
    vertical-align:middle;
}
/*#endregion */