<div class="flex-container">

    <mat-card class="workspace-card card" *ngFor="let workspace of workspaces">
        <mat-card-header class="card-header">
            <mat-card-title>{{workspace.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
            <div class="row">

            </div>
            <div class="row">
                <div class="col">
                    <button mat-button [matMenuTriggerFor]="dsMenu">Dataset</button>
                    <mat-menu #dsMenu="matMenu">
                        <button mat-menu-item *ngFor="let dataset of workspace.visibleData">
                            {{dataset.name}}
                        </button>
                    </mat-menu>
                </div>
                <div class="col">
                    <button mat-button [matMenuTriggerFor]="lsMenu">Labelscheme</button>
                    <mat-menu #lsMenu="matMenu">
                        <button mat-menu-item *ngFor="let scheme of workspace.labelschemes">
                            {{scheme.name}}
                        </button>
                        <button mat-menu-item>None</button>
                    </mat-menu>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="card footer">
            <button mat-button>Open</button>
        </mat-card-actions>
    </mat-card>

</div>


<div class="flex-container"[@workspace]="workspaces.length" >
    <div *ngFor="let workspace of workspaces" class="card bg-light">
        <div class="card-body">
            <div class="card-title d-flex">
                    <h5>{{workspace.name}}</h5>
                    <div class="vid-icon ml-auto">
                            <i *ngIf="workspace.hasVideo" class="material-icons">videocam</i>
                            <i *ngIf="!workspace.hasVideo" class="material-icons">videocam_off</i>
                    </div>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item d-flex header list-group-item-info">
                    <div class='mr-auto w-50 item-left'>Dataset</div>
                    <div class='item-right'>Labelled</div>
                    <div class='item-right'>Format</div>
                </li>
                <li class="list-group-item list-group-item-action d-flex" *ngFor="let dataset of workspace.visibleData">
                    <div class='mr-auto w-50 item-left'><a routerLink="/workspace/{{workspace.name}}/{{dataset.name}}">{{dataset.name}}</a></div>
                    <div class='item-right'>
                        <span class="badge badge-pill" 
                        [ngClass]="{'badge-danger': !dataset.labelled, 'badge-primary': !!dataset.labelled}">
                            {{dataset.labelled}}
                        </span>
                    </div>
                    <div class='item-right'><span class="badge badge-secondary badge-pill">{{dataset.format}}</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>