<div class="flex-container"[@workspace]="workspaces.length" >
    <div *ngFor="let workspace of workspaces" class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">{{workspace.name}}</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let dataset of workspace.visibleData">
                    <a routerLink="/workspace/{{workspace.name}}/{{dataset.name}}">{{dataset.name}}</a>
                    <span class="badge badge-secondary badge-pill">{{dataset.format}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>