<h3>Home</h3>
<div>
  <ul class="list-group">
   <li *ngFor="let dataset of datasets" class="list-group-item d-flex justify-content-between align-items-center">
    <a routerLink="/display/{{dataset.name}}/{{dataset.format}}">{{dataset.name}}</a>
    <span class="badge badge-primary badge-pill">{{dataset.format}}</span>
   </li>
  </ul>
</div>
<hr>

<div class="container"[@workspace]="workspaces.length" >
    <div *ngFor="let workspace of workspaces" class="card">
        <div class="card-body">
            <h5 class="card-title">{{workspace.name}}</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let entry of workspace.data | keys">
                    <a routerLink="/workspace/{{workspace.name}}/{{entry.key}}">{{ entry.key }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>